---
import { cn } from '@/lib/utils';
import { createLayoutComponent, type LayoutComponentProps, type VariantProps } from '@/lib/component-variants';

const rowVariants = createLayoutComponent(
  'flex flex-row',
  {
    wrap: {
      true: 'flex-wrap',
      false: ''
    },
    interactive: {
      true: 'cursor-pointer hover:bg-gray-50 transition-colors',
      false: ''
    },
    bordered: {
      true: 'border-b border-gray-200', 
      false: ''
    },
    sticky: {
      true: 'sticky top-0 z-40',
      false: ''
    },
    grid: {
      true: 'grid grid-cols-[auto_1fr_auto] [&>:nth-child(2)]:justify-self-center',
      false: ''
    }
  }
);

export interface Props extends LayoutComponentProps, VariantProps<typeof rowVariants> {
  wrap?: boolean;
  interactive?: boolean;
  bordered?: boolean;
  sticky?: boolean;
  grid?: boolean;
}

const {
  justify = 'start',
  align = 'center', 
  gap = 'sm',
  padding = 'none',
  wrap = false,
  interactive = false,
  bordered = false,
  sticky = false,
  grid = justify === 'grid',
  class: className = '',
  ...rest
} = Astro.props;

const classes = cn(
  rowVariants({ 
    justify: grid ? 'start' : justify, 
    align, 
    gap, 
    padding, 
    wrap, 
    interactive, 
    bordered, 
    sticky, 
    grid 
  }),
  className
);
---


<div class={classes} {...rest}>
  <slot />
</div>