---
import { cn } from '@/lib/utils';

export interface Props {
    className?: string;
    // Alpine.js pass-through
    [key: string]: any;
}

const { className, ...alpineProps } = Astro.props;
---

<div
    class={cn(
        'flex flex-col gap-y-1.5 px-6 py-2 pt-6 card-header text-center',
        className
    )}
    {...alpineProps}
>
    <slot />
</div>
