---
import { cn } from '@/lib/utils';

export interface Props {
    className?: string;
    // Alpine.js pass-through
    [key: string]: any;
}

const { className, ...alpineProps } = Astro.props;
---

<div
    class={cn('px-6 py-2 flex-1 card-content min-h-0', className)}
    {...alpineProps}
>
    <slot />
</div>
