---
import { cn } from '@/lib/utils';

export interface Props {
    delay?: number;
    className?: string;
    [key: string]: any;
}

const { delay = 500, className, ...alpineProps } = Astro.props;
const tooltipId = `tooltip-${Math.random().toString(36).substring(2, 11)}`;
---

<div 
    x-data=`{
        visible: false,
        tooltipId: '${tooltipId}',
        timeout: null,
        show() {
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => this.visible = true, ${delay});
        },
        hide() {
            clearTimeout(this.timeout);
            this.visible = false;
        }
    }`
    @mouseenter="show()"
    @mouseleave="hide()"
    class={cn('relative inline-block', className)}
    {...alpineProps}
>
    <slot />
</div>