---
// HTMX Todo List Component
---

<div class="p-4 bg-green-50 rounded-lg">
  <h3 class="text-lg font-semibold mb-2">HTMX Todo List</h3>
  
  <form hx-post="/api/todos" hx-target="#todo-list" hx-swap="beforeend">
    <div class="flex gap-2 mb-4">
      <input 
        type="text" 
        name="todo" 
        placeholder="Add a todo..."
        class="flex-1 px-3 py-2 border rounded"
        required
      />
      <button 
        type="submit"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
      >
        Add
      </button>
    </div>
  </form>
  
  <ul id="todo-list" class="space-y-2" hx-get="/api/todos" hx-trigger="load">
    <!-- Todos will be loaded here -->
  </ul>
</div>