---
import { cn } from '@/lib/utils';
import { Icon } from 'astro-icon/components';

export interface Props {
    closeable?: boolean;
    className?: string;
    [key: string]: any;
}

const { closeable = true, className, ...alpineProps } = Astro.props;
---

<header
    class={cn('relative flex flex-row items-start min-h-16', className)}
    {...alpineProps}
    slot="header"
>
    <div class="flex-1 min-w-0">
        <slot />
    </div>

    {
        closeable && (
            <button
                @click="close()"
                class="rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 p-1"
            >
                <Icon name="lucide:x" class="h-4 w-4" />
            </button>
        )
    }
</header>
