---
import { cn } from '@/lib/utils';

export interface Props {
    className?: string;
    [key: string]: any;
}

const { className, ...alpineProps } = Astro.props;
---

<div
    @focus="show()"
    @blur="hide()"
    :aria-describedby="hovercardId"
    class={cn('inline-block cursor-pointer', className)}
    {...alpineProps}
>
    <slot />
</div>